.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.col { }

.row { margin-bottom: 8px; }
.row.two { display: grid; grid-template-columns: 1fr 1fr; gap: 12px; }

.w-100 { width: 100%; }
.my-3 { margin: 16px 0; }
.actions { display:flex; flex-wrap: wrap; gap: 8px; }

@media (max-width: 900px) {
  .grid { grid-template-columns: 1fr; }
  .row.two { grid-template-columns: 1fr; }
}